<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog and Post</title>
    <link rel="stylesheet" href="styles/index.css">
</head>
<body>
    <header>
        The Blogger
    </header>
    <div class="form-area">
        <form action="/create_Post" method="post">
                <div class="create">
                    <button>
                        New
                    </button>
                </div>
            </form>
            <form action="/alter_Post" method="post">
                <div class  ="main-area">
                    <% if(locals.form_data) {%>
                        <%- form_data %>
                    <% } else { %>
                        <button class='test'>
                        </button>
                        <button class="test" name="id" value="2">
                            This is a test blog for Users.
                        </button>
                        <button class="test">
                            This is a test blog for Users.
                        </button>
                        <button class="test">
                            This is a test blog for Users.
                        </button>
                        <button class="test">
                            This is a test blog for Users.
                        </button>
                    <% } %>
                </div>
        </form>
    </div>
</body>
</html>