<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog and Post</title>
    <link rel="stylesheet" href="styles/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Kablammo&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Modak&display=swap"
        rel="stylesheet">
</head>
<body>
    <header>
        The Blogger
    </header>
    <div class="form-area">
        <form action="/create_Post" method="post">
                <div class="create">
                    <input type="submit" class="create_button" value="Create">
                    <input type="button" class="create_button Update" value="Update">
                    <input type="button" class="create_button Delete" value="Delete">
                </div>
            </form>
            <form action="/alter_Post" method="post">
                <div class  ="main-area">
                    <% if(locals.form_data) {%>
                        <%- form_data %>
                    <% } else { %>
                        <p id="no_content">
                            Press "Create" to create a new BLOG.  
                        </p>
                    <% } %>
                </div>
        </form>
    </div>
    
</body>
</html>