body
{
    background-color: aquamarine;
}

div.test
{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4vh;
    box-shadow: 1vh 1vh 8px rgba(0, 0, 0, 0.3);
    height: 30vh;
    width: 40vh;
    border-radius: 10%;
    border: 0.2vh solid black;
    background-color: rgb(119, 191, 255);
}